html {
	--monochrome-white-20: #fff;
	--palette-purple-80: #9a48f1;
	--palette-purple-90: #580ea2;
	--palette-purple-100: #271a58;
	--orange-10: #fff2e0;
	--orange-90: #ff6d00;
	--violet-10: #f9ebff;
}


.dfgd {
	text-align: end;
}